<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Configuration</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        td:first-child {
            font-weight: bold;
        }
    </style>
</head>
<body>
<h3>Интерфейс для настройки конфигурации на устройстве</h3>
<form method="post">
    <label for="hostname">Hostname:</label>
    <input type="text" id="hostname" name="hostname"><br><br>
    <label for="IP address">IP address:</label>
    <input type="text" id="IP address" name="ip_address"><br><br>
    <table>
        <tr>
            <th>Vlans</th>
            <td>
                <table>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="number" name="number" placeholder="example: 22"><br><br></td>
                        <td><input type="text" id="name" name="name" placeholder="example: vlan201"><br><br></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Interfaces</th>
            <td>
                <table>
                    <tr>
                        <th>Interface</th>
                        <th>IP Address</th>
                        <th>Subnet Mask</th>
                        <th>Status</th>
                        <th>Vlan</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="interface" name="interface"><br><br></td>
                        <td><input type="text" id="ip_address" name="ip_address"
                                   placeholder="example: 10.12.1.1"><br><br></td>
                        <td><select name="Subnet mask" id="subnet_mask">
                            {% for mask in subnet_masks %}
                            <option value={{ mask }}>{{ mask }}</option>
                            {% endfor %}</select><br><br></td>
                        <td><select name="status" id="status">
                            <option value="shutdown">shutdown</option>
                            <option value="no shutdown">no shutdown</option>
                        </select><br><br></td>

                        <td><input type="text" id="vlan_name" name="vlan_name" placeholder="name"><br><br>
                        <input type="text" id="vlan_number" name="vlan_number" placeholder="number"><br><br>
                            <label for="vlan_mode">mode:</label>
                            <select>name="vlan_mode" id="vlan_mode"
                            <option value="access">access</option>
                            <option value="trunk">trunk</option>
                        </select><br><br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Routing</th>
            <td>
                <table>
                    <tr>
                        <th>Destination</th>
                        <th>Subnet Mask</th>
                        <th>Next Hop</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="destination" name="destination"><br><br></td>
                        <td><select name="Subnet mask" id="dst_subnet_mask">
                            {% for mask in subnet_masks %}
                            <option value={{ mask }}>{{ mask }}</option>
                            {% endfor %}</select><br><br></td>
                        <td><input type="text" id="next_hop" name="next_hop"><br><br></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Configure">
</form>
</body>
</html>