<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Интерфейс для получения конфигурации устройства</title>
</head>
<body>
{% for config in configurations.configuration %}
    <div>
        <h1>{{ config }}</h1>

        <h3>{{fff}}</h3>
    </div>


</div>
{% endfor %}
</body>
</html>