<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Automation Network Manangment</title>
</head>
<body>
<h2>Automation network management</h2>
<p>Сервис для автоматизированного взаимодействия с устройствами</p>
<li><a href="/docs">OpenAPI/Swagger</a></li>
<li><a href="/configuration/ui">Получить текущую конфигурацию устройства</a></li>
</body>
</html>