{%- set cmd="no " if action=="delete" -%}
{% for interface in interfaces %}
{{ interface.interface }}
{{cmd}}ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
{{no}}{{ interface.status }}
{%- if interface.vlan and interface.mode -%}
{{cmd}}switchport access vlan {{interface.vlan }}
{{cmd}}switchport mode {{ interface.mode }}
{%- endif -%}
{%- endfor -%}
