{%- set cmd="no " if action=="delete" -%}
{%- if routing.static -%}
{% for route in routing.static %}
{{cmd}}ip route {{route.destination}} {{ route.subnet_mask }} {{ route.next_hop }}
{%- endfor -%}
{%- endif -%}